<!-- app/views/shared/_sidebar.html.erb -->
<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="dashboard">
      <%= image_tag("dashboard.png", alt: "Home", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="groups">
      <%= image_tag("groups.png", alt: "Grupos", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="companies">
      <%= image_tag("companies.png", alt: "Empresas", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="contacts">
      <%= image_tag("contacts.png", alt: "Contatos", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="client_products">
      <%= image_tag("products.png", alt: "Produtos", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="contracts">
      <%= image_tag("contracts.png", alt: "Contratos", style: "width: 30px; height: 30px;") %>
    </div>
    <div class="myaccount">
      <%= image_tag("myaccount.png", alt: "Configurações", style: "width: 30px; height: 30px;") %>
    </div>
  </aside>
</div>